    button {
      background-color: lightblue;
    }
    #addToCart {
      background-color: lightgreen;
    }
    .customClass {
      font-weight: bold;
    }
    * {
      border: 1px solid gray;
    }
    h1, h2 {
      color: purple;
    }
